body{

    background-image:url(10.jpg);
    background-repeat: none;
    background-position: fixed;
    background-size: 100% 100%;
}
nav{
    background-color: #d68f24;
    overflow: hidden;
    margin-top: -10 px;
}
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5% 1px;
    text-decoration: none;
    font-size: 17px;
    }

  nav li{
    list-style-type: none;
    display: inline;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0 );
    }
nav:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0 );
}
nav .active{
    background-color: #4CAF50;
    color: white;
}   

.floating-marquee p {
    display: inline-block;
    animation: float 10s linear infinite;
}
@keyframes float {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
.about-0 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 4%;
    color: #333;
    /*-webkit-text-stroke:1px #333;*/
    align-content: left;
    display: inline;
    font-size: 15px;
    line-height: 1.6;
    max-width: 90%;
    }
.about-1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2%;
    color: #333;
    /*-webkit-text-stroke:1px #333;*/
    align-content: left;
    display: inline;
    font-size: 15px;
    line-height: 1.6;
    max-width: 90%;
   }
   .about-1:hover{
    box-shadow: 2px 0px 5px;
    transition: 0.5s;
    transform: scale(1.1) ;
   }

.fancy-border {
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, red, blue) border-box;
  border-radius: 5px;
    margin: 10px;
  }
  .fancy-border:hover{
    box-shadow: 2px 0px 5px;
    transition: 0.5s;
    transform: scale(1.1) ;
  }
.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.contact-form{
    margin-top: 20px;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    border: 3px solid #110d0d;
    border-radius: 5px;
    background-color: #f9f9f9da;
    align-items: center;
}
.contact{
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
    align-items: center;
    margin-left: 20%;
}
.label{
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
    align-items: center;
    margin-left: 20%;
    width: 60%;
}

.label-1{
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
    align-items: center;
    margin-left: 50%;
    width: 60%;
}

.bottom li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding: 1% 1%;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom a{
    text-decoration: none;
}
.button li{
    display: inline;
}
button{
    background-color: #1881d6cb;
    margin: 2%;
    padding: 1% 1%;
    border-radius: 50%;
    border: none;
    display: inline;
    color: whitesmoke;
}
button:hover{
    background-color: #0e0d11;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0 );
    color: white;
    
}
.btm-txt{
    margin-left: 40%;
    color: #ccc;
    margin-top: 3%;
    padding-top: 3%;
    display: inline;
}

.btn{
    background-color: #4CAF50;
    border-radius: 5px;
    color: #333;
    padding: 1% 1%;
}
.btn:hover{
    background-color: #bd4d19;
    color: #4CAF50;
}
.btn:active{
    color: #ccc;
    background-color: rgb(27, 27, 26);
}
.info{
    background-color: aqua;
    width: 70%;
    align-items: center;
    border-radius: 5px;
    margin-left: 15%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sample{
    border-radius: 10px;
    padding-right: 2%;
    width: 60%;
    padding-bottom: 4%;
    margin-left: 10%;
    display: flex;
}
.sample:hover{
    transition: 0.5s;
    transform: scale(1.05) ;
}
.works{
    display: flex;
    width: 50%;
    margin-left: 10%;
    text-align: center;
    width: 50%;
    margin-left: 10%;
}
.works:hover{
    transition: 0.5s;
    transform: scale(1.1) ;
}

.sample-1{
    border-radius: 10px;
    margin-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    margin-left: 10%;
    display: inline;
}

.sample-words{
    background-color: crimson;
    border-radius: 5px;
    width: 75%;
    margin-left: 12%;
    margin-bottom: 3% ;
    padding: 2% 2%;
    color: #f2f2f2;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sample-words:hover{
    transform:0.5s ;
    transition:scale(1.04) ;
    
}

footer{
    background-color: rgb(214, 150, 12);
}
.txt5{
    background-image: url(profile.jpg);
    background-size: 100%;
}
.side-txt{
    background-color: crimson;
    display: flex;
    width: 100%;
    border-radius: 6px;
    content: contain;
    margin-left: 4%;
    align-content: center;
}
.side-txt:hover{
    box-shadow: 2px 0px 5px;
    transition: 0.5s;
    transform: scale(1.1) ;
}
.txt-1{
    align-items: left;
    padding: 2% 2%;
}

.contact{
    display: block;
    border-radius: 5px;
    padding-left: 2%;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: 20%;
    background-color: #333;
    align-items: center;
    color: white;
    width: 90%;
    float: right;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 0%;
}
.contact-txt{
background-color: #08c0c0;
width: 20%;
padding: 1% 1%;

}
.contact-1{
    display: block;
    border-radius: 5px;
    padding-left: 2%;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: 50%;
    background-color: #08c0c0;
    align-items: right;
    color: white;
    width: 18%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
    margin-right: 4%;
    margin-left: 78%;
    margin-top: -7%;
    padding: 10px 10px;
}

.bk{
    background-color: #1881d6cb;
    border-radius: 10.5px;
    padding: 1% 1%;
    margin: 1% 0%;
}
.bk-1{
    background-color:#1880d6fd;
    border-radius: 10px;
    padding: 2% 0%;
    margin: 1% 0%;
    width: 90%;
    margin-left: 4%;
}
